<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace= "com.neo.mappers.CommonMapper">
	
	<select id="getFnGetMasterKey" parameterType="masterKeyVO" resultType="String">
		/* commonMapper.getFnGetMasterKey 키코드추출*/
		SELECT
			FN_GET_MASTER_KEY(#{KEY_GBN})
		FROM DUAL
	</select>
	
</mapper>