@font-face {
	font-family: 'NotoSansKr';
	font-style: normal;
	font-weight: 100;
	src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../fonts/NotoSansKR/eot/NotoSansKR-Thin-Hestia.eot), url(../fonts/NotoSansKR/eot/NotoSansKR-Thin-Hestia.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR/woff/NotoSansKR-Thin-Hestia.woff) format("woff"), url(../fonts/NotoSansKR/otf/NotoSansKR-Thin-Hestia.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKr';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Light"), local("NotoSans-Light"), url(../fonts/NotoSansKR/eot/NotoSansKR-Light-Hestia.eot), url(../fonts/NotoSansKR/eot/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR/woff/NotoSansKR-Light-Hestia.woff) format("woff"), url(../fonts/NotoSansKR/otf/NotoSansKR-Light-Hestia.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKr';
  font-style: normal;
  font-weight: 350;
  src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../fonts/NotoSansKR/eot/NotoSansKR-DemiLight-Hestia.eot), url(../fonts/NotoSansKR/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR/woff/NotoSansKR-DemiLight-Hestia.woff) format("woff"), url(../fonts/NotoSansKR/otf/NotoSansKR-DemiLight-Hestia.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKr';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../fonts/NotoSansKR/eot/NotoSansKR-Regular-Hestia.eot), url(../fonts/NotoSansKR/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR/woff/NotoSansKR-Regular-Hestia.woff) format("woff"), url(../fonts/NotoSansKR/otf/NotoSansKR-Regular-Hestia.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKr';
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../fonts/NotoSansKR/eot/NotoSansKR-Medium-Hestia.eot), url(../fonts/NotoSansKR/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR/woff/NotoSansKR-Medium-Hestia.woff) format("woff"), url(../fonts/NotoSansKR/otf/NotoSansKR-Medium-Hestia.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKr';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../fonts/NotoSansKR/eot/NotoSansKR-Bold-Hestia.eot), url(../fonts/NotoSansKR/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR/woff/NotoSansKR-Bold-Hestia.woff) format("woff"), url(../fonts/NotoSansKR/otf/NotoSansKR-Bold-Hestia.otf) format("opentype");
}

@font-face {
	font-family: 'NotoSansKr';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans Black"), local("NotoSans-Black"), url(../fonts/NotoSansKR/eot/NotoSansKR-Black-Hestia.eot), url(../fonts/NotoSansKR/eot/NotoSansKR-Black-Hestia.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR/woff/NotoSansKR-Black-Hestia.woff) format("woff"), url(../fonts/NotoSansKR/otf/NotoSansKR-Black-Hestia.otf) format("opentype");
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Roboto/Roboto-Thin.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Thin.woff) format("woff"), url(../fonts/Roboto/Roboto-Thin.otf) format("opentype");
  unicode-range: U+0020-007E;
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Roboto/Roboto-Light.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Light.woff) format("woff"), url(../fonts/Roboto/Roboto-Light.otf) format("opentype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto/Roboto-Regular.otf) format("opentype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto/Roboto-Medium.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Medium.woff) format("woff"), url(../fonts/Roboto/Roboto-Medium.otf) format("opentype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto/Roboto-Bold.woff) format("woff"), url(../fonts/Roboto/Roboto-Bold.otf) format("opentype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-family: 'ModernH';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/ModernH/ModernH-Light.woff2) format("woff2"), url(../fonts/ModernH/ModernH-Light.woff) format("woff");
}

@font-face {
	font-family: 'ModernH';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ModernH/ModernH-Medium.woff2) format("woff2"), url(../fonts/ModernH/ModernH-Medium.woff) format("woff");
}

@font-face {
	font-family: 'ModernH';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ModernH/ModernH-Bold.woff2) format("woff2"), url(../fonts/ModernH/ModernH-Bold.woff) format("woff");
}
